MESHCORE_PI_RADIO_SPI_BUS=0
MESHCORE_PI_NSS_GPIO=8
MESHCORE_PI_DIO1_GPIO=25
MESHCORE_PI_RESET_GPIO=17
MESHCORE_PI_BUSY_GPIO=24
MESHCORE_PI_TXEN_GPIO=22
MESHCORE_PI_RXEN_GPIO=27
MESHCORE_PI_IDENTITY_PATH=/var/lib/meshcore-pi-port
MESHCORE_PI_LOG_LEVEL=info